{% extends 'base.html' %}

{% block title %}{{post.title_tag}}{% endblock %}

{% block content %}
    <h1>{{ post.title_tag }}</h1>
    <small> -By {{ post.author.first_name}} {{ post.author.last_name }} </small> <br>
    <small>reach out at : {{post.author.email}}</small>
    {% if user.is_authenticated and post.author == user %}
-<a href="{% url 'updatepost' post.id %}">(Edit)</a>--<a href="{% url 'deletepost' post.id %}">Delete</a><br> 
#{{post.category}} <br>

{% endif %}
    <hr>
    {{ post.body }}
    <br><br>
    <hr>
    
    {{post.post_time}}{{post.post_date}}
    <br>
    {% if user.is_authenticated %}
    {% if liked %}
    
        <form action="{% url 'like_post' post.id %}" method="POST">
            {% csrf_token %}
        <button type="submit" class="btn btn-danger" name="post_like" value="{{post.id}}">Unike</button> -- {{total_likes}} Likes
        </form>
    {% else %}
        <form action="{% url 'like_post' post.id %}" method="POST">
            {% csrf_token %}
        <button type="submit" class="btn btn-primary" name="post_like" value="{{post.id}}">Like</button> -- {{total_likes}} Likes
        </form>
    {% endif %}
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary">Like</a> -- {{total_likes}} Likes
    {% endif %}
    <br><br>
    
    <a href="{% url 'home' %}" ><button type="button" class="btn btn-dark">Back</button></a>
    {% endblock %}
